<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />


    <application
        android:name=".CalculatorApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SimpleCalculator">
        <activity
            android:name=".ui.activites.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activites.OtherCalculatorActivity" />
        <activity android:name=".ui.activites.UnitConverterActivity" />
        <activity android:name=".ui.activites.ConverterActivity" />
        <activity android:name=".ui.activites.AgeCalculatorActivity" />
        <activity android:name=".ui.activites.GstCalculatorActivity" />
        <activity android:name=".ui.activites.FinancialActivity" />
        <activity android:name=".ui.activites.SettingsActivity" />
        <activity android:name=".ui.activites.VibrationActivity" />
        <activity android:name=".ui.activites.AreaCalculatorActivity" />
        <activity android:name=".ui.activites.HistoryActivity" />
        <activity android:name=".ui.activites.ChooseThemeActivity" />
        <activity android:name=".ui.activites.CurrencyActivity" />

        <service
            android:name=".domain.services.FloatingCalculatorService"
            android:enabled="true"
            android:exported="false" />
    </application>

</manifest>